
<app-listado-generico [listado]="peliculas">
    <ng-container vacio>
        <div>Mensaje Personalizado para <b>vacio</b></div>
    </ng-container>

    <ng-container contenido>
    <div 
        *ngFor="let pelicula of peliculas; let index = index" 
        class="pelicula-contenedor">
        <div>
            <h2>Pelicula {{index}}: {{pelicula.titulo | lowercase}} 
            <button style="margin-left: 1rem;" (click)="remover(index)">Remover</button></h2>
        </div>
        <div>{{pelicula.fechaLanzamiento | date:"dd-MMMM-YYYY" | uppercase}}</div>
        <div>{{pelicula.precio | currency}}</div>
    </div>
    </ng-container>
</app-listado-generico>